--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.3.1+cu121
torchaudio==2.3.1+cu121
f5-tts
runpod
boto3
requests
soundfile
librosa
numpy
pydub
whisperx==3.3.2
pyannote.database==5.0.1
pyannote.core==5.0.0